*{
 margin: 0;
 padding: 0;

}
body{
   margin: 30px;
}
.inputArea{
    background-color: #fff9d0;
    width: 400px;
    padding: 10px;

    border-radius: 10px;
}

input{
  border: none;
  border-radius: 8px;
  padding: 6px 10px;
}

button{
    border: none;
    border-radius: 8px;
    padding:4px 16px;
}

button:hover{
    cursor: pointer;
}



li{
    margin-left: 25px;
    margin-top: 10px;
}




.incompleteTodo{
    background-color: #caf4ff;
    width: 400px;
    padding: 10px;

    border-radius: 10px;

    margin: 10px 0;
}

.completeTodo{
    background-color: #3c48b4;
    width: 400px;
    padding: 10px;

    border-radius: 10px;
}

